.typing{white-space:nowrap;border-right:2px solid transparent;animation:typing 3.5s steps(15,end),blink-caret .75s step-end infinite;overflow:hidden}
@keyframes typing{
from{width:0}
to{width:100%}
}
@keyframes blink-caret{
from,to{box-shadow:1px 0 0 0 transparent}
50%{box-shadow:1px 0 0 0}
}
.admire {
    margin-top: auto;
    margin-bottom: 3rem;
}

.admire>button {
    border-radius: 50%;
    padding: 1rem;
    border: 1px solid #F5F5F5;
    font-size: 1.5rem;
    outline: none;
}